@using Codebiz.Domain.ERP.Context.SeedData

@{
    ViewBag.Title = "Credit Card";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Financials</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Banking</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "CreditCard")">Credit Cards</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12" ng-controller="CreditCardController">
        <!-- BEGIN PORTLET -->
        <ng-view></ng-view>

        @Html.Partial("_CreditCardTemplate")

        @*@Html.Partial("~/Areas/Lookups/Views/Shared/_ChooseFromListPartial.cshtml", "GL")*@
        @Html.Partial("~/Areas/Lookups/Views/Shared/_ChooseFromListPartial.cshtml", new Dictionary<string, object> { { "ObjectType", "GL" } })
    </div>


</div>

</div>
@section pagestyles {
    @Styles.Render("~/assets/global/plugins/fancybox/source/jquery.fancybox.css")
    @Styles.Render("~/Content/ng-table.min.css")
    @Styles.Render("~/Scripts/moment.min.js")
}


@section PageScripts {
    <script>
        (function () {
            var app = angular.module('MetronicApp');
            app.requires.push.apply(app.requires, ['ngRoute'])

            app.config(['$routeProvider', '$locationProvider', function ($routeProvider, $locationProvider) {
                $routeProvider.when('/CreditCardIndexTemplate', {
                    templateUrl: 'CreditCardIndexTemplate.html',
                    controller: 'CreditCardController'
                })
                    .otherwise({
                        templateUrl: 'CreditCardIndexTemplate.html',
                        controller: 'CreditCardController'
                    })
                $locationProvider.html5Mode(false).hashPrefix('!');
            }]);

        }());
    </script>
    @Scripts.Render("~/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")
    @Scripts.Render("~/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js")
    @Scripts.Render("~/assets/pages/scripts/ui-extended-modals.min.js")
    @Scripts.Render("~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js")
    @Scripts.Render("~/bundles/fileupload")
}
@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/CommonService.js")
    @Scripts.Render("~/Areas/Lookups/Scripts/Service/ChooseFromListDataService.js")
    @Scripts.Render("~/Areas/Lookups/Scripts/Controller/ChooseFromListCtrl.js")
    @Scripts.Render("~/Areas/FIN/Scripts/App/Controllers/CreditCard/CreditCardAddOrUpdateController.js")
    @Scripts.Render("~/Areas/FIN/Scripts/App/Controllers/CreditCard/CreditCardController.js")
    @Scripts.Render("~/Areas/FIN/Scripts/App/Service/CreditCardService.js")
}
