@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Billing Categories";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Management</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Billing</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Category")">Billing Categories</a>
            <i class="fa fa-circle"></i>
        </li>

        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Billing Categories  <small>view, search, add/edit , or deactivate or reactivate billing categories</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->

<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="CategoryController as controller">
        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <div class="row">
                            <!--Code Search Textbox -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Code</label>
                                    <input type="text" name="Code" ng-model="Code" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="1" maxlength="20" />
                                </div>
                            </div>
                            <!--Name Search Textbox -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="Name" ng-model="Name" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="2" maxlength="300" />
                                </div>
                            </div>
                            <!--Displayed Name Search Textbox -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Displayed Name</label>
                                    <input type="text" name="DisplayName" ng-model="DisplayName" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="3" maxlength="300" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
            </div>
        </div>

        <!-- BEGIN PORTLET -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    List
                </div>
                <div class="actions">
                    <!--EXPORT BUTTON -->
                    <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportBillingCategoriesViewList)>
                        <i class="fa fa-share-square-o"></i>
                        <span class="">Export</span>
                    </a>
                    <!--ADD BUTTON -->
                    <a href="" class="btn btn-info" ng-click="gotoSaveCategoryPage()" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddUpdateBillingCategoriesData)>
                        <i class="fa fa-plus"></i>
                        <span class=""> ADD/EDIT/DELETE </span>
                    </a>
                </div>
            </div>
            <!--DATA TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped table-hover">
                            <tr ng-repeat="category in $data">
                                <td width="1%" header-class="'text-center'" class="text-center">
                                    <div class="btn-group" ng-show="@Html.UserHasPermissionIndex(userPermission: PermissionData.UserCanDeActivateReActivateBillingCategoriesData)">
                                        <button id="bars" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="CategoryId">
                                            <li @Html.UserHasPermissionIndex(userPermission: PermissionData.UserCanDeActivateReActivateBillingCategoriesData)>
                                                <a ng-click="toggleActiveStatus(category)" ng-hide="!category.IsActive">
                                                    <i class="glyphicon glyphicon-remove"></i> Deactivate
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermissionIndex(userPermission: PermissionData.UserCanDeActivateReActivateBillingCategoriesData)>
                                                <a ng-click="toggleActiveStatus(category)" ng-hide="category.IsActive">
                                                    <i class="glyphicon glyphicon-ok"></i> Reactivate
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td width="10%" data-title="'CODE'" sortable="'Code'" header-class="'table-header text-left'" class="text-left">
                                    {{category.Code}}
                                </td>
                                <td width="15%" data-title="'NAME'" sortable="'Name'" header-class="'table-header text-left'" class="text-left">
                                    {{category.Name}}
                                </td>
                                <td width="15%" data-title="'DISPLAYED NAME'" sortable="'DisplayedName'" header-class="'table-header text-left'" class="text-left">
                                    {{category.DisplayedName}}
                                </td>
                                <td width="7%" data-title="'BILL'" sortable="'IsBill'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="category.IsBill ? 'label-success' : 'label-danger'">{{category.IsBill ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="7%" data-title="'ACTIVE'" sortable="'IsActive'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="category.IsActive ? 'label-success' : 'label-danger'">{{category.IsActive ? 'Yes': 'No'}}</span>
                                </td>
                            </tr>
                            <tr ng-show="$data.length == 0">
                                <td colspan="8" class="text-center" style="font-style:unset">
                                    No data available
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/BillingCategory/BillingCategoryService.js")
    @Scripts.Render("~/Scripts/App/Controllers/BillingCategory/CategoryController.js")
}
