@using Codebiz.Domain.ERP.Context.SeedData;
@{
    ViewBag.Title = "Approval Template - Index";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Management</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Approval Procedure</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ApprovalTemplate")">Approval Template</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Approval Template <small>View, add, edit, delete, activate, deactivate or search approval template</small>
</h1>
<!-- END PAGE TITLE-->

<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="ApprovalTemplateController">
        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="Name" ng-model="name" ng-keypress="searchWhenEnter($event)" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Created Date</label>
                                    <div class='input-group date'>
                                        <input date-rangeright
                                               type="text"
                                               name="CreatedDate"
                                               id="CreatedDate"
                                               placeholder="_ _ / _ _ / _ _ _ _ - _ _ / _ _ / _ _ _ _"
                                               class="form-control white-input"
                                               autocomplete="off"
                                               ng-model="createdDate"
                                               ng-change="search()" readonly>
                                        <span class="input-group-addon" onclick="$('#CreatedDate').focus()">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN APPROVAL TEMPLATE TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            List
                        </div>
                        <div class="actions">
                            <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportApprovalTemplateViewList)>
                                <i class="fa fa-share-square-o"></i>
                                <span class="">Export</span>
                            </a>
                            <a ng-click="create()" class="btn btn-info" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddApprovalTemplateData)>
                                <i class="fa fa-plus"></i>
                                <span class=""> New </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                                <table ng-table="approvalTemplateTable" ng-class="{'loading': isLoading}" class="table table-bordered table-striped @Html.UserHasPermission(userPermission:new List<string>() {PermissionData.UserCanEditApprovalTemplateData,PermissionData.UserCanReactivateDeactivateApprovalTemplateData,PermissionData.UserCanDeleteApprovalTemplateData})">
                                    <tr ng-repeat="item in $data">
                                        <td width="1%" class="text-center dropdown">

                                            <button id="actions" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-list"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-content">
                                                <li> <a ng-href="@Url.Action("Edit")?approvalTemplateId={{item.ApprovalTemplateId}}" @Html.UserHasPermission(userPermission: PermissionData.UserCanEditApprovalTemplateData)> <i class="fa fa-edit"></i>Edit</a></li>
                                                <li>
                                                    <a ng-click="delete(item.ApprovalTemplateId,item.Name)"
                                                       @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteApprovalTemplateData)> <i class="fa fa-trash"></i>Delete</a>
                                                </li>

                                                <li ng-show="item.Status">  <a ng-click="activateOrDeactivate(item.ApprovalTemplateId,item.Status,item.Name)" @Html.UserHasPermission(userPermission: PermissionData.UserCanReactivateDeactivateApprovalTemplateData)> <i class="fa fa-ban"></i>Deactivate</a></li>
                                                <li ng-show="!item.Status"> <a ng-click="activateOrDeactivate(item.ApprovalTemplateId,item.Status,item.Name)" @Html.UserHasPermission(userPermission: PermissionData.UserCanReactivateDeactivateApprovalTemplateData)> <i class="fa fa-check"></i>Reactivate</a></li>
                                            </ul>
                                        </td>
                                        <td width="60%" data-title="'NAME'" sortable="'Name'" header-class="'table-header text-left'" class="text-left">
                                            @if (Html.UserHasPermission(userPermission: PermissionData.UserCanViewApprovalTemplateData).ToString() != "")
                                            {
                                                <span>{{item.Name}}</span>
                                            }
                                            else
                                            {
                                                @*<a ng-click="seeDetails(item.ApprovalTemplateId,item.Name)">{{item.Name}}</a>*@
                                                <a ng-href="@Url.Action("Edit")?approvalTemplateId={{item.ApprovalTemplateId}}&view=1">{{item.Name}}</a>
                                            }
                                        </td>
                                        <td width="10%" data-title="'ACTIVE'" sortable="'Status'" header-class="'table-header text-center'" class="text-center">
                                            <span class="label label-sm label-success ng-binding" ng-show="item.Status">YES</span>
                                            <span class="label label-sm label-danger ng-binding" ng-show="!item.Status">NO</span>
                                        </td>
                                        <td width="15%" data-title="'CREATED BY'" sortable="'CreatedBy'" header-class="'table-header text-left'" class="text-left">
                                            {{item.CreatedBy}}
                                        </td>
                                        <td width="15%" data-title="'CREATED DATE'" sortable="'CreatedDate'" header-class="'table-header text-left'" class="text-left">
                                            {{item.CreatedDate | date:'MM/dd/yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                    <tr ng-show="$data.length == 0">
                                        <td colspan="8" class="text-center" style="font-style:unset">
                                            No data available
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END APPROVAL TEMPLATE TABLE -->
        <!-- END PORTLET -->
    </div>
</div>

@section PageScripts {
}

@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/ApprovalTemplateService.js")
    @Scripts.Render("~/Scripts/App/Controllers/ApprovalTemplate/ApprovalTemplateController.js")
}

