@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Report Signatory";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>
                Management
            </span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ReportSignatory")">Report Signatories</a>
            <i class="fa fa-circle"></i>
        </li>

        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Report Signatories  <small>View, search , add, edit, delete, deactivate or reactivate report signatories</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12" ng-controller="ReportSignatoryController as controller">
        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <div class="row">
                            <!--Category Search Textbox -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <input type="text" name="Category" ng-model="Category" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="1" maxlength="100"/>
                                </div>
                            </div>
                            <!--Report Search Textbox -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Report</label>
                                    <input type="text" name="Report" ng-model="Report" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="2" maxlength="100"/>
                                </div>
                            </div>
                            <!--Signatory Search Textbox -->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Signatory</label>
                                    <input type="text" name="Signatory" ng-model="Signatory" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="3" maxlength="100"/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET -->
                </div>
            </div>

        </div>

        <!-- BEGIN PORTLET -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    List
                </div>
                <div class="actions">
                    <!--EXPORT BUTTON -->
                    <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportReportSignatoryViewList)>
                        <i class="fa fa-share-square-o"></i>
                        <span class="">Export</span>
                    </a>
                    <!--ADD BUTTON -->
                    <a href="" class="btn btn-info" ng-click="addOrUpdate(0)" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddReportSignatoryData)>
                        <i class="fa fa-plus"></i>
                        <span class=""> New </span>
                    </a>
                </div>
            </div>
            <!--DATA TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped table-hover">
                            <tr ng-repeat="item in $data">
                                <td width="1%" header-class="'text-center'" class="text-center">
                                    <div class="btn-group" ng-show="@Html.UserHasPermissionIndex(userPermission:PermissionData.UserCanEditReportSignatoryData) ||
                                                                    @Html.UserHasPermissionIndex(userPermission:PermissionData.UserCanDeleteReportSignatoryData) ||
                                                                    @Html.UserHasPermissionIndex(userPermission:PermissionData.UserCanDeActivateReactivateReportSignatory)">

                                        <button id="bars" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="ReportSignatoryId">
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanEditReportSignatoryData)>
                                                <a ng-click="addOrUpdate(item.ReportSignatoryId)">
                                                    <i class="glyphicon glyphicon-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteReportSignatoryData)>
                                                <a ng-click="deleteReportSignatory(item)">
                                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeActivateReactivateReportSignatory)>
                                                <a ng-click="toggleActiveStatus(item, false)" ng-hide="!item.IsActive">
                                                    <i class="glyphicon glyphicon-remove"></i> Deactivate
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeActivateReactivateReportSignatory)>
                                                <a ng-click="toggleActiveStatus(item, true)" ng-hide="item.IsActive">
                                                    <i class="glyphicon glyphicon-ok"></i> Reactivate
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td width="15%" data-title="'CATEGORY'" sortable="'Category'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Category}}
                                </td>
                                <td width="20%" data-title="'REPORT'" sortable="'Report'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Report}}
                                </td>
                                <td width="25%" data-title="'SIGNATORIES'" header-class="'table-header text-left'" class="text-left">
                                    <ul ng-repeat="signatories in item.Signatories" style="padding-left: 0px !important">
                                        {{signatories.Label}} : {{signatories.Name}}
                                    </ul>
                                </td>
                                <td width="9%" data-title="'ACTIVE'" sortable="'IsActive'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.IsActive ? 'label-success' : 'label-danger'">{{item.IsActive ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="15%" data-title="'ACTION BY'" sortable="'ActionBy'" header-class="'table-header text-left'" class="text-left">
                                    {{item.ActionBy}}
                                </td>
                                <td width="15%" data-title="'ACTION ON'" sortable="'ActionOn'" header-class="'table-header text-left'" class="text-left">
                                    {{item.ActionOn | date : 'MM/dd/yyyy hh:mm a'}}
                                </td>
                            </tr>
                            <tr ng-show="$data.length == 0">
                                <td colspan="7" class="text-center" style="font-style:unset">
                                    No data available
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section angularjspage {
    @Scripts.Render("~/Scripts/App/Controllers/ReportSignatory/ReportSignatoryController.js")
    @Scripts.Render("~/Scripts/App/Services/ReportSignatoryService.js")
}