@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Consumer Type";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Management</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "ConsumerType")">Consumer Type</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Consumer Type  <small>View, search, add, edit, delete, deativate or reactivate consumer type</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="ConsumerTypeController as controller">
        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Code</label>
                                    <input type="text" name="Code" ng-model="code" ng-keypress="searchWhenEnter($event)" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="Name" ng-model="name" ng-keypress="searchWhenEnter($event)" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>
        </div>

        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    List
                </div>
                <div class="actions">
                    <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportConsumerTypeViewList)>
                        <i class="fa fa-share-square-o"></i>
                        <span class="">Export</span>
                    </a>
                    <a href="javascript:;" class="btn btn-info" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddConsumerTypeData) ng-click="consumerTypeModal(0)">
                        <i class="fa fa-plus"></i>
                        <span class=""> New </span>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped table-hover
                                @Html.UserHasPermission(userPermission:new List<string>()
                             { PermissionData.UserCanEditConsumerTypeData,
                               PermissionData.UserCanDeleteConsumerTypeData,
                               PermissionData.UserCanDeactivateReactivateConsumerTypeData})">
                            <tr ng-repeat="item in $data">
                                <td width="1%">
                                    <div class="btn-group">
                                        <button id="account" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-list"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="account">
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanEditConsumerTypeData)>
                                                <a ng-click="consumerTypeModal(item.ConsumerTypeId,false)">
                                                    <i class="glyphicon glyphicon-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteConsumerTypeData)>
                                                <a ng-click="deleteConsumerType(item.ConsumerTypeId,item.Name)">
                                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                                </a>
                                            </li>
                                            <li ng-hide="!item.IsActive" @Html.UserHasPermission(userPermission: PermissionData.UserCanDeactivateReactivateConsumerTypeData)>
                                                <a ng-click="toggleActiveStatus(item.ConsumerTypeId,item.IsActive,item.Name)">
                                                    <i class="fa fa-ban"></i> Deactivate
                                                </a>
                                            </li>
                                            <li ng-hide="item.IsActive" @Html.UserHasPermission(userPermission: PermissionData.UserCanDeactivateReactivateConsumerTypeData)>
                                                <a ng-click="toggleActiveStatus(item.ConsumerTypeId, item.IsActive,item.Name)">
                                                    <i class="fa fa-check-circle"></i> Reactivate
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td width="10%" data-title="'CODE'" sortable="'Code'" header-class="'table-header text-left'" class="text-left">
                                    <a ng-click="consumerTypeModal(item.ConsumerTypeId,true)">{{item.Code}}</a>
                                </td>
                                <td width="20%" data-title="'NAME'" sortable="'Name'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Name}}
                                </td>
                                <td width="8%" data-title="'SOLE USE'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.CanBeTagAsSoleUse ? 'label-success' : 'label-danger'">{{item.CanBeTagAsSoleUse ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="8%" data-title="'BAPA'"  header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.BAPA ? 'label-success' : 'label-danger'">{{item.BAPA ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="8%" data-title="'MAPA'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.MAPA ? 'label-success' : 'label-danger'">{{item.MAPA ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="8%" data-title="'ACTIVE'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.IsActive ? 'label-success' : 'label-danger'">{{item.IsActive ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="12%" data-title="'CREATED BY'" sortable="'CreatedBy'" header-class="'table-header text-left'" class="text-left">
                                    {{item.CreatedBy}}
                                </td>
                                <td width="10%" data-title="'CREATED DATE'" sortable="'CreatedDate'" header-class="'table-header text-left'" class="text-left">
                                    {{item.CreatedDate |date : 'MM/dd/yyyy hh:mm a'}}
                                </td>
                            </tr>
                            <tr ng-show="$data.length == 0">
                                <td colspan="9" class="text-center" style="font-style:unset">
                                    No data available
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("_ModalPage")
    </div>
</div>

@section pagestyles {
    @Styles.Render("~/assets/global/plugins/fancybox/source/jquery.fancybox.css")
    @Styles.Render("~/Content/ng-table.min.css")
    @Styles.Render("~/Scripts/moment.min.js")
}

@section PageScripts {
    @Scripts.Render("~/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")
    @Scripts.Render("~/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js")
    @Scripts.Render("~/assets/pages/scripts/ui-extended-modals.min.js")
    @Scripts.Render("~/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js")
    @Scripts.Render("~/bundles/fileupload")
}

@section AngularJSPlugins {
    @Scripts.Render("~/Scripts/ng-table.js")
}

@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/ConsumerTypeService.js")
    @Scripts.Render("~/Scripts/App/Services/CommonService.js")
    @Scripts.Render("~/Scripts/App/Controllers/ConsumerType/ConsumerTypeController.js")
    @Scripts.Render("~/Scripts/App/Controllers/ConsumerType/ConsumerTypeAddOrUpdateController.js")

}