@{
    ViewBag.Title = "Price List";
}

<div ng-app="MetronicApp" ng-controller="PriceListAddOrUpdateController" ng-form="f">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a>Master Data</a>
                <i class="fa fa-circle"></i>
                <a ng-click="cancel()">Price List</a>
                <i class="fa fa-circle"></i>
                <span id="breadcrums">Form</span>
            </li>
        </ul>
        <div class="page-toolbar col-md-9" style="text-align:right;">
            <a class="btn btn-sm btn-default" ng-click="cancel()">Back to List</a>
        </div>
    </div>
    <h1 class="page-title">
        Price List Form
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" style="margin-bottom:unset">
                <div class="portlet-body">
                    <div class="row" style="padding-bottom:3px">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Code<span class="required">*</span></label>
                                <input type="text" class="form-control" ng-model="m.Code" maxlength="14" name="Code" alphanumeric-only>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label"> Name<span class="required">*</span></label>
                                <input type="text" class="form-control" ng-model="m.Name" maxlength="30" name="Name" alphanumeric-only>
                            </div>
                        </div>
                        <div class="col-md-3" style="top:15px;">
                            <div class="form-group">
                                <div class="md-checkbox-inline">
                                    <div class="md-checkbox">
                                        <input type="checkbox" class="md-check"
                                               ng-checked="m.IsActive"
                                               ng-model="m.IsActive"
                                               ng-change="checkActives()"
                                               ng-disabled="isView"
                                               id="IsActive">
                                        <label for="IsActive">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                        Active
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable-line">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#itemMasterTab" id="itemMasterDataTabLi" data-toggle="tab" target="_self"><span>ITEMS</span></a>
                                    </li>

                                    <li>
                                        <a href="#remarksTab" id="remarksTabLi" data-toggle="tab" target="_self">REMARKS</a>
                                    </li>
                                    <li>
                                        <a href="#attachmentsTab" id="attachmentsTabLi" data-toggle="tab" target="_self"><span>ATTACHMENTS</span></a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="itemMasterTab">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                                                <table ng-table="tableParams" ng-class="{'loading': isLoading}"
                                                       class="table table-bordered table-striped table-hover">
                                                    <tr ng-repeat="item in $data">

                                                        <td width="10%" data-title="'ITEM CODE'" header-class="'table-header text-left'" class="text-left">
                                                            <a ng-click="viewItem(item.Id)">
                                                                {{item.ItemCode}}
                                                            </a>

                                                        </td>
                                                        <td width="10%" data-title="'LONG DESCRIPTION'" header-class="'table-header text-left'" class="text-left">
                                                            {{item.LongDescription}}
                                                        </td>
                                                        <td width="3%" data-title="'STATUS'" header-class="'table-header text-center'" class="text-center">
                                                            <span class="label label-sm label-info ng-binding" ng-show="item.IsActive=='YES'">{{item.IsActive}}</span>
                                                            <span class="label label-sm label-danger ng-binding" ng-show="item.IsActive=='NO'">{{item.IsActive}}</span>
                                                        </td>
                                                        <td width="10%" data-title="'ITEM COST'" header-class="'table-header text-right'" class="text-right">
                                                            <input type="text" ng-model="item.ItemCost" class="form-control text-right" onchange="formatToCurrency(this)"
                                                                   onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || event.charCode==46' />
                                                        </td>



                                                    </tr>
                                                    <tr ng-show="$data.length == 0">
                                                        <td hidden></td>
                                                        <td colspan="14" class="text-center" style="font-style:unset">
                                                            No data available
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light" style="border-top:solid thin #e7ecf1">
                <div class="form-actions">
                    <button class="btn btn-success" ng-click="save()">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp; {{isUpdate ? 'UPDATE':'SAVE'}}
                    </button>
                    <button class="btn btn-default" ng-click="cancel()">
                        <span class="glyphicon glyphicon-warning-sign"></span>&nbsp; Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


    @section pagestyles {
        <style>
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }
        </style>
        @Styles.Render("~/Content/jquery.mloading.css")
        @Styles.Render("~/css/fileupload")
    }

    @section PageScripts {
        @Scripts.Render("~/bundles/fileupload");
        @Scripts.Render("~/Content/jquery.mloading.js");
        @Scripts.Render("~/Scripts/ng-table.js")
        <script>
            function convertToTwoDecimal(input) {
                var value = document.getElementById(input.id).value;
                if (value != "" && value != 0) {
                    input.value = parseFloat(input.value).toFixed(2);
                }
            }
        </script>


    }

    @section angularjspage {
        <script src="~/Areas/MD/Scripts/Services/PriceListService.js"></script>
        <script src="~/Areas/MD/Scripts/Controllers/PriceList/PricelistAddOrUpdateController.js"></script>
    }
