@using Web.Models
@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Forgot your password?";
}
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="@Url.Content("~/assets/pages/img/logo-big.png")" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "forget-form", role = "form", novalidate = "", style = " display: block;" }))
    {
        @Html.AntiForgeryToken()
        <h3 class="font-green">Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Email</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "email@example.com" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-actions">
                @*<button type="button" id="back-btn" class="btn green btn-outline">Back</button>*@
                <a href="@Url.Action("Login")" class="btn green btn-outline">Back</a>
                <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
            </div>
    }
    <!-- END FORGOT PASSWORD FORM -->
</div>
<div class="copyright"> @DateTime.Now.Year © TARELCO 1 </div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")
}
