@using Web.Models
@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutBasic.cshtml";
    ViewBag.Title = "Reset password";
}
<!-- BEGIN LOGO -->
<div class="logo">
    <a href="index.html">
        <img src="@Url.Content("~/assets/pages/img/logo-big.png")" alt="" />
    </a>
</div>
<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    <!-- BEGIN RESET PASSWORD FORM -->
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "", role = "form", novalidate = "", style = " display: block;" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)
        <h3 class="font-green">Reset your password.</h3>
        <p class="hint"> Enter your account details below: </p>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Username/Email" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
        </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">New Password</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", placeholder = "New Password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Confirm New Password</label>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control placeholder-no-fix", placeholder = "Confirm New Password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="form-group margin-top-20 margin-bottom-20">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" id="showPass" /> show password?
                    <span></span>
                </label>
                <div id="register_tnc_error"> </div>
            </div>
            <div class="form-actions">
                @*<button type="button" id="register-back-btn" class="btn green btn-outline">Back</button>*@
                <button type="submit" id="register-submit-btn" class="btn btn-success uppercase">Submit</button>
            </div>
    }
    <!-- END RESET PASSWORD FORM -->
</div>
<div class="copyright"> @DateTime.Now.Year © TARELCO 1 </div>
@section PageScripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#showPass').change(function () {
                var checked = $(this).is(":checked");

                if (checked) {
                    $("#Password").attr("type", "text");
                    $("#ConfirmPassword").attr("type", "text");
                } else {

                    $("#Password").attr("type", "password");
                    $("#ConfirmPassword").attr("type", "password");
                }
            });
        });
    </script>
}
