@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Navigation Links";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "NavLink")">Navigation Links</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Navigation Links  <small>view or search Controller</small>
</h1>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="NavLinkController as controller">

        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <!--SEARCH TABLE -->
                        <div class="row">
                            <!--CODE SEARCH TEXTBOX -->
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Search Term</label>
                                    <input type="text" name="SearchTerm" ng-model="SearchTerm" ng-keypress="searchWhenEnter($event)" class="form-control">
                                </div>
                            </div>
                            <!--CREATED DATE SEARCH DATE PICKER -->
                        </div>
                        <!-- BUTTONS -->
                        <div class="row">
                            <div class="col-md-3">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>
        </div>
        <!-- BEGIN PORTLET -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    List
                </div>
                <!--ADD NEW BUTTON -->
                <div class="actions">
                    <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportNavigationLinkViewList)>
                        <i class="fa fa-share-square-o"></i>
                        <span class="">Export</span>
                    </a>
                    <a ng-href="{{navLinkIndex + 'Create'}}" class="btn btn-info" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddNavLink)>
                        <i class="fa fa-plus"></i>
                        <span class=""> New </span>
                    </a>
                </div>
            </div>
            <!--DATA TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped table-hover @Html.UserHasPermission(userPermission:new List<string>() {PermissionData.UserCanAddNavLink,PermissionData.UserCanDeleteNavLink})">
                            <tr ng-repeat="item in $data">
                                <!--ACTION BUTTONS -->
                                <td width="1%" header-class="'text-center'" class="text-center">
                                    <div class="btn-group">
                                        <button id="bars" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanEditNavLink)>
                                                <a ng-href="{{navLinkIndex + 'Edit/' + item.NavLinkId}}">
                                                    <i class="fa fa-edit"></i>Edit
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteNavLink)>
                                                <a ng-click="deleteNavLink(item.NavLinkId, item.Name)">
                                                    <i class="fa fa-trash"></i>Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td width="7%" data-title="'NAME'" sortable="'Name'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Name}}
                                </td>
                                <td width="9%" data-title="'NAVIGATION GROUP'" sortable="'ParentNavLink'" header-class="'table-header text-left'" class="text-left">
                                    {{item.ParentNavLink}}
                                </td>
                                <td width="7%" data-title="'CONTROLLER'" sortable="'Controller'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Controller}}
                                </td>
                                <td width="5%" data-title="'ACTION'" sortable="'Action'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Action}}
                                </td>
                                <td width="6%" data-title="'ICON CLASS'" sortable="'IconClass'" header-class="'table-header text-left'" class="text-left">
                                    <i class="{{item.IconClass}}"></i> {{item.IconClass}}
                                </td>
                                <td width="6%" data-title="'PARAMETERS'" sortable="'Parameters'" header-class="'table-header text-left'" class="text-left">
                                    {{item.Parameters}}
                                </td>
                                <td width="6%" data-title="'IS PARENT'" sortable="'IsParent'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.IsParent ? 'label-success' : 'label-danger'">{{item.IsParent ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="6%" data-title="'IS ACTIVE'" sortable="'IsActive'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="item.IsActive ? 'label-success' : 'label-danger'">{{item.IsActive ? 'Yes': 'No'}}</span>
                                </td>
                                <td width="6%" data-title="'CREATED BY'" sortable="'CreatedBy'" header-class="'table-header text-left'" class="text-left">
                                    {{item.CreatedBy}}
                                </td>
                                <td width="7%" data-title="'DATE CREATED'" sortable="'CreatedDate'" header-class="'table-header text-left'" class="text-left">
                                    {{item.CreatedDate | date : 'MM/dd/yyyy hh:mm a'}}
                                </td>
                            </tr>
                            <tr ng-show="$data.length == 0">
                                <td colspan="11" class="text-center" style="font-style:unset">
                                    No data available
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--SCRIPTS TABLE -->
@section PageScripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('input[name="CreatedDate"]').daterangepicker({
                    opens: 'left',
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                }, function (start, end, label) {
                });
            });

            $('input[name="CreatedDate"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                $(this).trigger('change');
            });

            $('input[name="CreatedDate"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                $(this).trigger('change');
            });
        })
    </script>
}

@section angularjspage {
    <script src=""></script>
    @Scripts.Render("~/Scripts/App/Services/NavLinkServices.js")
    @Scripts.Render("~/Scripts/App/Services/CommonService.js")
    @Scripts.Render("~/Scripts/App/Controllers/NavLinkController.js")
}