@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Approval Stage - Index";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Management</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Approval Procedure</span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","ApprovalStage")">Approval Stage</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Approval Stage <small>View, add, edit, delete, activate, deactivate or search approval stage</small>
</h1>
<!-- END PAGE TITLE-->

<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="ApprovalStageController as asc">
        <!-- BEGIN PORTLET -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Name</label>
                                    <input type="text" name="Name" class="form-control" autocomplete="off" maxlength="50"
                                           ng-model="name" ng-keypress="searchWhenEnter($event)" alphanumeric-dash-only>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input type="text" name="Description" class="form-control" autocomplete="off" maxlength="100"
                                           ng-model="description" ng-keypress="searchWhenEnter($event)" alphanumeric-dash-only>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Created Date</label>
                                    <div class='input-group date'>
                                        <input type="text" id="drp" name="CreatedDate" placeholder="_ _ / _ _ / _ _ _ _ - _ _ / _ _ / _ _ _ _" class="form-control white-input" autocomplete="off"
                                               is-open="createdOnDatePicker.opened" close-text="Close"
                                               ng-model="createdDate" ng-click="openCreatedOnDatePicker()" ng-change="search()" readonly>
                                        <span class="input-group-addon" onclick="$('#drp').focus()">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                </div>
            </div>
        </div>
        <!-- BEGIN APPROVAL STAGE TABLE -->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            List
                        </div>
                        <div class="actions">
                            <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportApprovalStageViewList)>
                                <i class="fa fa-share-square-o"></i>
                                <span class="">Export</span>
                            </a>
                            <a class="btn btn-info" ng-click="addOrUpdate(0)" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddApprovalStageData)>
                                <i class="fa fa-plus"></i>
                                <span class=""> New </span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive padding-bottom-50" style="overflow:auto;" loading-container="tableParams.settings().$loading">
                                <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped
                                       @Html.UserHasPermission(userPermission: new List<string>() {
                                                        PermissionData.UserCanEditApprovalStageData,
                                                        PermissionData.UserCanDeleteApprovalStageData,
                                                        PermissionData.UserCanDeactivateReactivateApprovalStageData })">
                                    <tr ng-repeat="item in $data">
                                        <td width="1%">
                                            <div class="btn-group">
                                                <button id="approvalStage" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <i class="fa fa-list"></i>
                                                </button>
                                                <ul class="dropdown-menu" role="menu" aria-labelledby="approvalStage">
                                                    <li @Html.UserHasPermission(userPermission: PermissionData.UserCanEditApprovalStageData)>
                                                        <a ng-click="addOrUpdate(item.ApprovalStageId)">
                                                            <i class="glyphicon glyphicon-pencil"></i> Edit
                                                        </a>
                                                    </li>
                                                    <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteApprovalStageData)>
                                                        <a ng-click="delete(item.ApprovalStageId, item.Name,item.CanDelete)">
                                                            <i class="glyphicon glyphicon-trash"></i> Delete
                                                        </a>
                                                    </li>
                                                    <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeactivateReactivateApprovalStageData)>
                                                        <a ng-click="toggleActiveStatus(item)" ng-hide="!item.IsActive">
                                                            <i class="glyphicon glyphicon-remove"></i>Deactivate
                                                        </a>
                                                    </li>
                                                    <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeactivateReactivateApprovalStageData)>
                                                        <a ng-click="toggleActiveStatus(item)" ng-hide="item.IsActive">
                                                            <i class="glyphicon glyphicon-ok"></i>Reactivate
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td width="15%" data-title="'NAME'" sortable="'Name'" header-class="'table-header text-left'" class="text-left">
                                            @if (Html.UserHasPermission(userPermission: PermissionData.UserCanViewApprovalStageData).ToString() != "")
                                            {
                                                <span>{{item.Name}}</span>
                                            }
                                            else
                                            {
                                                <a ng-click="viewDetails(item.ApprovalStageId)">{{item.Name}}</a>
                                            }
                                        </td>
                                        <td width="25%" data-title="'DESCRIPTION'" sortable="'Description'" header-class="'table-header text-left'" class="text-left">
                                            {{item.Description}}
                                        </td>

                                        <td width="8%" data-title="'REQUIRED APPROVALS'" sortable="'RequiredApprovals'" header-class="'table-header text-left'" class="text-right">
                                            {{item.RequiredApprovals}}
                                        </td>
                                        <td width="8%" data-title="'REQUIRED REJECTIONS'" sortable="'RequiredRejections'" header-class="'table-header text-left'" class="text-right">
                                            {{item.RequiredRejections}}
                                        </td>
                                        <td width="7%" data-title="'ACTIVE'" sortable="'IsActive'" header-class="'table-header text-center'" class="text-center">
                                            <span class="label label-sm" ng-class="item.IsActive ? 'label-success' : 'label-danger'">{{item.IsActive ? 'Yes': 'No'}}</span>
                                        </td>
                                        <td width="10%" data-title="'CREATED BY'" sortable="'CreatedBy'" header-class="'table-header text-left'" class="text-left">
                                            {{item.CreatedBy}}
                                        </td>
                                        <td width="10%" data-title="'CREATED DATE'" sortable="'CreatedDate'" header-class="'table-header text-left'" class="text-left">
                                            {{item.CreatedDate | date : 'MM/dd/yyyy hh:mm a'}}
                                        </td>
                                    </tr>
                                    <tr ng-show="$data.length == 0">
                                        <td colspan="8" class="text-center" style="font-style:unset">
                                            No data available
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- END APPROVAL STAGE TABLE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET -->
    </div>
</div>

@section pagestyles {
    <style>
        #approvalStage + .dropdown-menu {
            z-index: 99000
        }

        #approversTable .ng-table-counts {
            display: none;
        }

        #detail-padding div div {
            padding-bottom: 5px;
        }
    </style>
}


@section PageScripts {
    <script>
        $(document).ready(function () {
            $(function () {
                $('input[name="CreatedDate"]').daterangepicker({
                    opens: 'right',
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear'
                    }
                }, function (start, end, label) {
                });
            });

            $('input[name="CreatedDate"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
                $(this).trigger('change');
            });

            $('input[name="CreatedDate"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
                $(this).trigger('change');
            });
        })
    </script>

}

@section AngularJSPlugins {
}

@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/ApprovalStageService.js")
    @Scripts.Render("~/Scripts/App/Controllers/ApprovalStage/ApprovalStageDetailController.js")
    @Scripts.Render("~/Scripts/App/Controllers/ApprovalStage/ApprovalStageController.js")
}

