@using Codebiz.Domain.ERP.Context.SeedData
@{
    ViewBag.Title = "Lifeline Subsidy";
}

<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>
                Management
            </span>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "LifelineSubsidy")">Lifeline Subsidy</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>List</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->
<!-- BEGIN PAGE TITLE-->
<h1 class="page-title">
    Lifeline Subsidy <small>View, search , add, edit, delete, deactivate or reactivate</small>
</h1>
<div class="row" ng-app="MetronicApp">
    <div class="col-md-12" ng-controller="LifelineSubsidyController as controller">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN PORTLET -->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <h4 class="bold">Search</h4>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="expand"> </a>
                        </div>
                    </div>
                    <!-- BEGIN FILTERS -->
                    <div class="portlet-body tabs-below" style="display: none;">
                        <!--SEARCH TABLE -->
                        <div class="row">
                            <!--CODE SEARCH TEXTBOX -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Code</label>
                                    <input type="text" name="Code" ng-model="Code" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="1" maxlength="100" />
                                </div>
                            </div>
                            <!--RANGE SEARCH TEXTBOX -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Range</label>
                                    <div class="input-group">
                                        <input type="text" name="Minimum" ng-model="Minimum" ng-keypress="searchWhenEnter($event)" class="form-control text-right"
                                               placeholder="Minimum" tabindex="4" maxlength="100" />
                                        <span class="input-group-addon">-</span>
                                        <input type="text" name="Maximum" ng-model="Maximum" ng-keypress="searchWhenEnter($event)" class="form-control text-right"
                                               placeholder="Maximum" tabindex="4" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <!--DISCOUNT SEARCH TEXTBOX -->
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Discount(%)</label>
                                    <input type="text" name="Discount" ng-model="Discount" ng-keypress="searchWhenEnter($event)" class="form-control" tabindex="2" maxlength="100" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- BUTTONS -->
                            <div class="col-md-12">
                                <div class="actions btn-set btn-filter">
                                    <button type="button" class="btn btn-success" ng-click="search()" tabindex="5">
                                        <i class="fa fa-search"></i>
                                        <span class=""> Search </span>
                                    </button>
                                    <button type="button" class="btn" ng-click="reset()" tabindex="6">
                                        <i class="fa fa-rotate-left"></i>
                                        <span class=""> Reset </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PORTLET -->
            </div>
        </div>
        <!-- BEGIN PORTLET -->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    List
                </div>
                <!--ADD NEW BUTTON -->
                <div class="actions">
                    <a href="" class="btn green-dark" ng-disabled="resultsLength < 1 || isLoading" ng-click="exportDataToExcelFile()" @Html.UserHasPermission(userPermission: PermissionData.UserCanExportLifelineSubsidies)>
                        <i class="fa fa-share-square-o"></i>
                        <span class="">Export</span>
                    </a>
                    <a href="" class="btn btn-info" ng-click="addOrUpdate(0)" @Html.UserHasPermission(userPermission: PermissionData.UserCanAddLifelineSubsidy)>
                        <i class="fa fa-plus"></i>
                        <span class=""> New </span>
                    </a>
                </div>
            </div>
            <!--DATA TABLE -->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive padding-bottom-50" style="overflow-x:auto;" loading-container="tableParams.settings().$loading">
                        <table ng-table="tableParams" ng-class="{'loading': isLoading}" class="table table-bordered table-striped table-hover @Html.UserHasPermission(userPermission:new List<string>() {PermissionData.UserCanEditLifelineSubsidy, PermissionData.UserCanDeleteLifelineSubsidy, PermissionData.UserCanDeActivateReActivateLifelineSubsidy})">
                            <tr ng-repeat="ls in $data">
                                <td width="1%" header-class="'text-center'" class="text-center">
                                    <!--ACTION BUTTONS -->
                                    <div class="btn-group">
                                        <button id="bars" type="button" class="btn btn-success btn-mini dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="purokId">
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanEditLifelineSubsidy)>
                                                <a ng-click="addOrUpdate(ls.LifelineSubsidyId)">
                                                    <i class="glyphicon glyphicon-pencil"></i> Edit
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeleteLifelineSubsidy)>
                                                <a ng-click="deleteLifelineSubsidy(ls)">
                                                    <i class="glyphicon glyphicon-trash"></i> Delete
                                                </a>
                                            </li>

                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeActivateReActivateLifelineSubsidy)>
                                                <a ng-click="toggleActiveStatus(ls)" ng-hide="!ls.IsActive">
                                                    <i class="glyphicon glyphicon-remove"></i> Deactivate
                                                </a>
                                            </li>
                                            <li @Html.UserHasPermission(userPermission: PermissionData.UserCanDeActivateReActivateLifelineSubsidy)>
                                                <a ng-click="toggleActiveStatus(ls)" ng-hide="ls.IsActive">
                                                    <i class="glyphicon glyphicon-ok"></i> Reactivate
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td width="4%" data-title="'CODE'" sortable="'Code'" header-class="'table-header text-left'" class="text-left">
                                    {{ls.Code}}
                                </td>
                                <td width="9%" data-title="'RANGE'" sortable="'Minimum'" header-class="'table-header text-left'" class="text-left">
                                    {{ls.Minimum}} -  {{ls.Maximum}}
                                </td>
                                <td width="9%" data-title="'DISCOUNT(%)'" sortable="'Discount'" header-class="'table-header text-left'" class="text-left">
                                    {{ls.Discount}}
                                </td>
                                <td width="2%" data-title="'ACTIVE'" sortable="'IsActive'" header-class="'table-header text-center'" class="text-center">
                                    <span class="label label-sm" ng-class="ls.IsActive ? 'label-success' : 'label-danger'">{{ls.IsActive ? 'Yes': 'No'}}</span>
                                </td>
                            </tr>
                            <tr ng-show="$data.length == 0">
                                <td colspan="6" class="text-center" style="font-style:unset">
                                    No data available
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @Html.Partial("_SaveModalForm")
        </div>
    </div>
</div>
<!--SCRIPTS TABLE -->
@section angularjspage {
    @Scripts.Render("~/Scripts/App/Services/LifelineSubsidy/LifelineSubsidyService.js")
    @Scripts.Render("~/Scripts/App/Controllers/LifelineSubsidy/LifelineSubsidyController.js")
}
